<!DOCTYPE html>
<html lang="cn" class="app fadeInUp animated">

<head>
    <meta charset="utf-8" />
    <title>work微信，爱工作爱生活</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta content="微信企业号 微信办公 移动OA 微信打卡 微信审批 移动协作平台 " name="Keywords" />
    <meta content="让工作更简单、高效，基于微信企业号，以任务管理为核心，提供报销、请假、签到、邮箱、招聘、名片、通知、调研、投票、外勤、会议室、通讯录、日程等多项社交管理应用为一体的移动协作平台。" name="Description" />
	<link href="./Tpl/Qyapp/Static/Js/bootstrap/3.1.1/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="./Tpl/Qyapp/Static/Css/animate.min.css" rel="stylesheet">
    <link href="./Tpl/Qyapp/Static/Css/font-awesome.min.css" rel="stylesheet">
    <link href="./Tpl/Qyapp/Static/Css/style.min.css" rel="stylesheet">	
	<script src="./Tpl/Qyapp/Static/Js/jquery-1.9.1.min.js" type="text/javascript"></script>
	<script src="./Tpl/Qyapp/Static/Js/bootstrap/3.1.1/dist/js/bootstrap.min.js"></script>		
	<script src="./Tpl/Qyapp/Static/Js/artTemplate/dist/template.js" type="text/javascript"></script>
</head>
<style>
.search_word{ width:200px; }/* 用户输入框的样式 */
.show{border:1px solid #004a7e;}/* 显示提示框的边框 */
ul{list-style:none; margin:0px; padding:0px; color:#004a7e;}
ul li{background:#fff;padding:5px;}
.mouseOver{ background-color:#004a7e;color:#FFFFFF;}
</style>
<body> 
  <div id="task" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">提示</h4>
        </div>
        <div class="modal-body">
          <p><b>该流程有未完成的任务，不能更新该流程.</b></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
          <button type="button" class="btn btn-primary">保存</button>
        </div>

      </div>
    </div>
  </div>

  <div id="freeze" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">提示</h4>
        </div>
        <div class="modal-body">
          <p><b>您确定要冻结该流程吗？</b></p>
        </div>
        <div class="modal-footer">
		  <button type="button" class="btn btn-primary">确定</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        </div>

      </div>
    </div>
  </div>
    
    <section class="hbox stretch">
          <aside>
            <section class="vbox">
                <header class="header bg-white b-b b-light">
                    <p>配置审核人</p>
                </header>
                <section class="scrollable  wrapper">
                    <section class="panel panel-default">
                        <div class="panel-body">
                            <form class="form-horizontal form-validate" target="_self" action="{lanrain::U('Applyflow/conf')}" method="post">                            
							    <div class="entity-panel-body form-horizontal">
								
								
								<div class="js_audit_div">
									<div class="form-group" data-num="1">
										<label class="col-sm-2 control-label">第1级审核人</label>
										<div class="col-sm-2">
											 <select class="form-control js_audit_select" data-rule-required="true"  name="level[1]['auditname']" onChange="selectAudit($(this))">
												<option value="0">请选择</option>
												<option value="1" {{if value.type == 1}}selected{{/if}}>直接上级</option>
												<!-- <option value="2">间接上级</option> -->
												<option value="3" data-type="assign">指定人员</option>
											</select>
										</div>
									</div>

									
								</div>								
									<script type="text/html" id="js_audit_list">
										{{each list as value i}}
										<div class="form-group" data-num="{{i+1}}">
											<label class="col-sm-2 control-label">第{{i+1}}级审核人</label>
											<div class="col-sm-2">
												<select class="form-control js_audit_select" id="{{i}}" name="level[{{i}}]['auditselect']" onchange="selectAudit($(this))">
													<option value="">请选择</option>
													<option value="1" {{if !value}}selected{{/if}}>直接上级</option>
													<!-- <option value="2">间接上级</option> -->
													<option value="3" {{if value}}selected{{/if}} data-type="assign">指定人员</option>
												</select>
											</div>
											
											<div class="col-sm-1">
												<button type="button" class="btn btn-default js_delaudit btn-sm" onclick="delLevel($(this))">删除</button>
											</div>
											{{if value}}
											<div class="col-sm-3">
												<input type="text" class="form-control js_select_people"  data-toggle="tokeninputtree" value="{{value}}" name="level[{{i}}]['auditname']" data-rule-required="true"  placeholder="请输入相关人"/>	
											</div>
											{{/if}}									
										</div>							
										{{/each}}
									</script>
									<script type="text/html" id="js_audit_tem">
										<div class="form-group" data-num="{{index}}">
											<label class="col-sm-2 control-label">第{{index}}级审核人</label>
											<div class="col-sm-2">
												<select class="form-control js_audit_select" id="{{index}}" name="level[{{index}}]['auditselect']" onchange="selectAudit($(this))">
													<option value="">请选择</option>
													<option value="1">直接上级</option>
													<!-- <option value="2">间接上级</option> -->
													<option value="3" data-type="assign">指定人员</option>
												</select>
											</div>
											
											<div class="col-sm-1">
												<button type="button" class="btn btn-default js_delaudit btn-sm" onclick="delLevel($(this))">删除</button>
											</div>
										</div>
									</script>
									<script type="text/html" id="js_add_select">
										<div class="col-sm-3">
										 <input type="text" class="form-control js_select_people autoComplete"  data-toggle="tokeninputtree" name="level[{{index}}]['auditname']" data-rule-required="true"  placeholder="请输入相关人"/>
											
										</div>
									</script>

                                    <div class="form-group">
                                        <div class="col-sm-2 col-sm-offset-2">
                                            <button type="button" class="btn btn-default js_addaudit btn-sm"  onclick="addLevel()">增加一级</button>
                                        </div>
                                    </div>
                                    <div class="line line-dashed line-lg pull-in"></div>
                                    <div class="form-group">
                                        <div class="col-sm-4 col-sm-offset-2">
                                            <button type="submit" class="btn btn-primary" data-loading-text="保存中...">保存</button>
                                            <!-- <button type="button" class="btn btn-default" data-toggle="back">仅保存</button> -->
                                            <button type="button" class="btn btn-default" data-toggle="back">取消</button>
                                            <!-- <button type="button" class="btn btn-default" data-confirm="true" data-msg="您确定要冻结该流程吗？" onclick="freeze()">冻结</button> -->
                                            <span class="help-block"><!-- *注：修改流程时，请先冻结流程并完成所有报销流程的审批，否则不能修改报销流程。 --></span>
                                        </div>
                                    </div>
                                </div>
                            </form>                        
						</div>
                    </section>
                </section>
            </section>
        </aside>
    </section> 
	<script>
	var val = $('.js_audit_div').find(':last-child').attr('data-num');
	var num = parseInt(val);
	function addLevel(){
		var id = ++num;
		var data = {
		index: id,
		};			
		var html = template('js_audit_tem', data);
		$('.js_audit_div').append(html);
	}
	function delLevel(obj){
	    var len = obj.parent().parent().parent().children('div').length;
	    if(len > 1){
		    obj.parent().parent().remove();		
		}
	}	
	function selectAudit(obj){
		if(obj.parent().parent().find(':last-child').hasClass('col-sm-3')){
			obj.parent().siblings(':last').remove();
		}						
		//获取select中的name
		var id = obj.attr('id');
		//alert(index);
		var data = {	
		index: id,
		};	
		var val = obj.find('option:selected').val();							
		if(val == 3){
			if(!obj.parent().parent().find(':last-child').hasClass('col-sm-3')){
				var html = template('js_add_select',data);
				obj.parent().parent().append(html);								
			}
			
		}	
	}
	</script>
	<script>
	function freeze(){
		//alert($('#freeze').modal());
		 $.ajax({
			type:"POST",
			url:"index.php?g=Qyapp&m=Applyflow&a=freeze",
			dataType:'json',
			success:function(json){
			var status = json.status;
			  //alert('删除成功');
			  if(status==1)
			  {
				alert('删除成功');
				window.location.reload();
			  }
			  else
			  {
				  alert('删除失败');
				 // $('#cont').html('删除失败');
				  //$('#del').model();
			  }
			}
		});
	}
	</script>

</body>

</html>