@charset "utf-8";
/* CSS Document */

/* 全局样式 */
body,*{ padding:0; margin:0; font-size:12px; word-break: break-all; color:#575757;font-family: microsoft yahei,Tahoma,Helvetica,arial,sans-serif}
ul,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,form,p,input ,section,article{ padding:0; margin:0;}
ul{list-style:none;}
img{border:0px;}
.clearfloat{clear:both; height:0px; font-size:1px; line-height:0px;}
a{ text-decoration:none; color: #575757}
.fl{float: left;}
.fr{float: right;}
.ps_rl{position: relative;}
.bg{background: #f6f6f6;}
.bg1{background: #32cd32}
.bg2{background: #ff3e3e}
.bg3{background: #9999ff}
.bg4{background: #fff;}
.bg5{background: #ffc53b;}
.bg6{background: #9999ff;}
.bg7{background: #3bc885;}
.bg8{background: #fe6a62;}
.bg9{background: #a3d43d;}
.bg10{background: #ffd353;}
.bg11{background: #ff8680;}
.bg12{background: #7bcd90;}
.bg13{background: #d96e48;}
.bg14{background: #f2aeb4;}
.bg15{background: #79d9cf;}
.bg16{background: #4fdbc2;}
.bg17{background: #38d7ff;}
.bg18{background: #f6c0e2;}
.bg19{background: #e09582;}
.bg20{background: #ea5085;}
.bg21{background: #cf2872;}
.bg22{background: #ff31e6;}
.bg23{background: #1ccca9;}
.bg24{background: #fc7fee;}



.color1{color: #32cd32;font-size: 14px;}
.mg_t{margin-top: 10px;}
.mg_b{margin-bottom: 60px;}
.bd_no{border: none;}
.mg_tb{margin:40px 0 60px 3%;}
.article{width: 94%;margin: auto;height:100%; overflow: hidden;}
.home_top{width: 100%;height: 120px;background: #41b8fc;overflow: hidden;}
.user_pic{width: 60px;height: 60px;margin:30px 0 0 0;}
.user_pic img,.child_pic img,.leave_pic img,.add_pic img{width: 100%;height: 100%;
	border-radius: 100%;}
.child_pic{width: 70px;height: 70px; margin:10px auto 0 ;}
.leave_pic{width: 40px;height: 40px; margin: auto;margin-top: 15px;}
.app_pic{width: 70px;height: 70px; margin:8px auto 4px ; border-radius: 100%;}
.app_pic img{width: 40px;margin:15px auto 0;}

.add_pics{position: relative !important;float: left;margin-top: 10px !important;z-index: 1;
}
.user_info{margin-top: 20px;}

.user_info p{color: #fff;font-size: 24px;line-height: 48px;margin-left: 10px;}
.user_info span{color: #fff;font-size: 14px;margin-left: 10px;}
.user_num{display: block;margin-left: 0 !important;line-height: 14px; }


.top_ht{height: 200px;}
.ps_ab{position: absolute;top: 0px;left: 50%;margin-left: -35px;}
.add_pic{width: 50px;height: 50px;margin: auto;}
.parents_ul li{width: 70px;text-align: center;position: absolute;}
.parents_ul li p{font-size: 10px;line-height: 20px;color: #fff;}

.parents_ul li:nth-child(1){top: 15px;left: 4%;}
.parents_ul li:nth-child(2){top: 80px;left: 12%;}
.parents_ul li:nth-child(3){top: 115px;left: 38%;}
.parents_ul li:nth-child(4){top: 80px;left: 63%;}
.parents_ul li:nth-child(5){top: 15px;left: 73%;}










.home_mid{width: 100%;height: 40px;}
.banji{border: none;width: 25%;height: 100%; margin-left: 10%;color: #32cd32;font-size: 14px;-webkit-appearance:none; }
.search{width: 20px;padding:  10px 5% 10px 10px;}
.home_mid p{line-height: 40px;color: #ff3e3e;font-size: 14px;float: left;}

.home_bot,.leave_list{margin-bottom: 50px;overflow: hidden;}
.home_bot li {position: relative; width: 33.1%;height: 120px;float: left;text-align: center; border-right: 1px solid #ddd; border-bottom: 1px solid #ddd; }
.bd_tb{border-top: 1px solid #ddd;overflow: hidden; }
.bd_tb li:nth-child(3),.bd_tb li:nth-child(6),.bd_tb li:nth-child(9),.bd_tb li:nth-child(12),.bd_tb li:nth-child(3),.bd_tb li:nth-child(15),.bd_tb li:nth-child(18),.bd_tb li:nth-child(21),.bd_tb li:nth-child(24),.bd_tb li:nth-child(27),.bd_tb li:nth-child(30){border-right: none;}












.child_name{width: 100%;text-align: center;font-size: 14px;color: #575757;line-height: 20px; }
.child_name span{display: block;}

.state{position: absolute;top: 3px;right: 5px;width: 40px;height: 20px;border-radius: 10px;line-height: 20px;text-align: center;color: #fff;display: block;}

.home_menu{width: 100%;height: 50px;position: fixed;left: 0;bottom: 0;background: #fff; }
.home_menu a:hover{background: #4eb5fe;text-decoration: none !important; }
.home_menu a{line-height: 40px;font-size: 14px;color: #fff;text-align: center;display: block;background: #38adff;border-radius: 6px !important;margin: 5px 0;width:94%;margin-left:3%; }
.home_menu a input{
    background: transparent;border:none;
}
.leave_l{width: 60px;}
.leave_l .child_name{font-size: 12px;line-height: 18px;}
.leave_l .child_name span{font-size: 10px;}
.leave_ul{position: relative;}
.shuxian{position: absolute;top: 10px;left: 30px;height: 10000px;border-left: 2px solid #fff;z-index: -1; }
.leave_ul li{overflow: hidden;margin-top: 10px;}
.leave_r{width: 78%;border: 1px solid #eee;border-radius: 3px;position: relative;padding: 6px 0; }
.triangle{width: 0;height: 0;position: absolute;top: 25px;left: -9px;border-style: solid;border-width: 9px 9px 9px 0;border-color:  transparent #eee transparent transparent ; }
.triangle_s{width: 0;height: 0;position: relative;top: -8px;left: 1px;border-style: solid;border-width: 8px 8px 8px 0;border-color:  transparent #fff transparent transparent ;display: block;  }
.leave_r p{width: 90%;padding:0 5%;line-height: 22px;font-size: 14px; }
.leave_time{color: #999;font-size: 12px !important;}


.time_bt{border-top: 1px solid #eee;padding: 0 !important;
margin: 6px 0 0 5%;}
.leave_sp{border-top: 1px solid #ddd;margin: 5px 5%;width: 90%;overflow: hidden; }
.leave_sp .state{position: static;margin: 6px 0 0 45px; }

.meet_title{width: 100%;background: #38adff;height: 80px;font-size: 16px;line-height: 40px;text-align: center;color: #fff;padding-top: 20px;  }
.meet_title span{display: block;font-size: 12px;line-height: 14px;color: #fff;  }
.meet_cont{width: 100%;background: #fff;border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;margin-top: 10px;   }
.meet_info{width: 97%;margin-left: 3%;}
.meet_p{font-size: 14px;border-bottom: 1px solid #eee;line-height: 40px;  }
.meet_p span{color: #777;}
.meet_if{width: 94%;display: block;padding:0 3%;line-height: 18px;  }
.meet_p:last-child{line-height: 30px;border: none;padding-bottom: 6px;}
.meet_user{width: 94%;margin:auto;    }
.meet_list{width: 40px;margin:5px 0 0  2% !important;height: 60px;  }
.meet_user .leave_ul{overflow: hidden;margin-bottom: 10px;}
.meet_list .leave_pic{margin-top: 0;}
.meet_list .child_name{font-size: 10px;}


.index_jifen{width: 100%;
}
.index_jifen p{font-size: 14px;color: #575757;line-height: 40px;padding: 0 5%; border-bottom: 1px solid #ddd;
}
.index_jifen span{
  float: right;font-size: 16px;color: orange;
}






