@charset "utf-8";
/* CSS Document */


/* 全局样式 */
body{ padding:0; margin:0; font-size:12px; height:100%; word-break: break-all;}
ul,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,form,p { padding:0; margin:0;}
ul{list-style:none;}
img{border:0px;}
.clearfloat{clear:both; height:0px; font-size:1px; line-height:0px;}
a{ text-decoration:none;}


div#all{
position:fixed;
top:0;
left:0;
bottom:0;
right:0;
z-index:-1;
}
div#all > img{height:100%;
width:100%;
border:0;
}

.left{ width:20%; height:auto; float:left;}
.logo{ width:90px; height:90px; line-height:90px; text-align:center; border:1px solid #000; border-radius:5px; float:left;margin:100% 0 100% 15%;}


#content{ width:65%; height:auto; margin:0 auto; float:left; margin-top:10%; padding-left:5%; border-left:1px solid #000; margin-left:5%;}


#content ul{ width:100%; float:left; margin-left:5%;}
#content ul li{ font-family:"微软雅黑"; font-size:14px; width:100%; margin-top:1%;}
#content .margin{ font-weight:bold;}
#content ul li b{ font-size:36px;}
#content ul li span{ margin-left:20%; font-size:18px; font-weight:bold;}









