.nav ul li{
width:16.66%;
height:50px;
float:left;

font-family:黑体;
font-size:14px;
text-align:center;
position:relative;
background:#fdfdfd;
border-bottom:solid 1px #eee;
}
.nav ul li:last-child img{
margin-top:8px;
}
a{

color:#000;
}
.nav{

margin-bottom:50px;

}
.riqi{
margin-top:5px;
font-size:12px;
line-height:20px;
color:#ccc;
text-align:center;
}
body{
background:#f7f7f7;

}
.xian{
width:1px;
border-right:solid 1px #eee;
height:15px;
position:absolute;
right:1px;
top:20px;
}
.xhei{
top:0px;
height:50px;

}
.shasp{
height:48px;
border-bottom:solid 2px #63cf10;
}
.text{
width:100%;
background:#fff;

border-bottom:solid 1px #eee;
}
.title{
margin-top:10px;
margin-left:10px;
font-size:16px;
font-weight:bold;
margin-bottom:20px;
}
.tright{
width:60px;
height:30px;
text-align:center;
line-height:30px;
font-size:14px;
background:#35AA47;
font-weight:normal;
color:#fff;
float:right;
border-radius:5px;
margin-right:20px;
}
.textb{
clear:both;
}
.redlen{
font-family:黑体;
margin-bottom:16px;
margin-left:14px;
position:relative;
}
.timeright{
position:absolute;
right:40px;
}
.heredlen{

color:#000;

}
.yuan{
width:20px;
height:20px;
background:#eee;
border-radius:100px;
float:left;
}
.huise{
font-weight:bold;
color:#eee;
}
.hunli{
width:49%;
height:50px;
line-height:50px;
text-align:center;
float:left;
}
.xjsf{
position:fixed;
}

.demo{
width:100%;height:48px;background:#fff url('../imgs/iconfont-rili.png') no-repeat center center;background-size: 60% 80%;border:none;
}

.rili{
width:24px;height:24px;position:absolute;top:0px;right:20%;z-index:5;
}

.tip{
color:#63cf10;font-weight:normal;font-size:12px;margin-left:5px;
}