@charset "utf-8";
/* CSS Document */



/* 全局样式 */
body{ padding:0; margin:0; font-size:12px; height:100%;}
ul,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,form,p { padding:0; margin:0;}
ul{list-style:none;}
img{border:0px;}
a{ text-decoration:none;}


/*头部*/
#Top{ width:100%; height:225px; margin: 0 auto;white-space:normal; width:100%; position:relative;}
#Top .banner{ width:100%; height:174px; margin: 0 auto;}
#Top .banner span{ position:absolute; left:44%; top:30%; text-align:center; color:#fff; font-family:"微软雅黑";}
#Top .banner span b{ font-size:16px;}
#Top .banner_btm{ width:100%; height:50px; margin:0 auto; background-color:#494949; color:#fff; float:left;}
#Top .banner_btm ul{ width:100%; height:30px; float:left;}
#Top .banner_btm ul li{ width:33%; height:30px; display:block; float:left; text-align:center; font-family:"微软雅黑"; font-size:10px;}
#Top .banner_btm ul li span{ font-size:18px; color:#48a4f9;}
#Top .banner_btm ul li b{ font-size:18px; color:#59d46c; font-weight:normal;}
#Top .banner_btm ul li strong{ font-size:18px; color:#fd4e55; font-weight:normal;}



/*中部*/
#Mid{ width:100%; white-space:normal; width:100%; float:left; margin-bottom:60px;}
#Mid .record{ width:100%; height:30px; background-color:#35aa47; color:#fff; line-height:30px; font-size:14px;}
#Mid .record span{ font-family:"微软雅黑"; margin-left:5%;}
.content{ width:100%; height:55px; margin-top:15px; color:#aaaaaa; border-bottom:1px solid #CCC;}
.manager{ width:90%; height:16px; margin:0 auto;}
.manager b{ width:60%; font-size:14px; font-family:"微软雅黑"; font-weight:normal; float:left; line-height:16px; color:#424242;}
.manager strong{ float:right; font-family:"微软雅黑"; font-weight:normal; line-height:16px; color:#f7716e;}
.manager span{ float:left; font-size:12px; font-family:"微软雅黑"; line-height:16px; color:#595959;}
.content ul{ width:90%; height:20px; margin:0 auto; margin-top:8px;}
.content ul li{ width:30%; float:left; font-family:"微软雅黑"; font-size:11px;}
.content ul li span{ color:#4cb94e; margin-left:5%;}


/*底部*/
#Btm{ width:100%; height:46px; margin: 0 auto; margin-top:20px;white-space:normal; width:100%; float:left;}
#Btm ul{ width:95%; height:48px; margin:0 auto;}
#Btm ul li{ width:95%; height:35px; margin:0 auto; text-align:center; line-height:35px; font-size:16px; font-family:"微软雅黑";}
#Btm .join{ border-radius:5px; background-color:#06be04; color:#fff;}
















