.heihed{


background:#3c4147;
padding:15px;
overflow-y:hidden;
padding-bottom:50px;
}
.lasttitle{
padding-bottom:16px;
font-family:黑体;
color:#eee;
font-size:14px;
border-bottom:solid 1px #ccc;
margin-bottom:15px;
}
.dizhi{
margin-left:15%;
font-family:黑体;
font-size:16px;
margin-right:10%;
color:#fff;
}
.people{

margin-left:8%;
}
.yearleft{

margin-right:18%;

}
.cont{
font-family:黑体;
padding:10px;
color:#ccc;
}
.yearright{

margin-left:20%;

}
.context{
margin-top:20px;
}
.kuai{

width:50px;
height:50px;
background:#f8f8f8;
margin-right:4%;
margin-bottom:20px;
text-align:center;
line-height:22px;
color:#ccc;
float:left;
}

.kuai:nth-child(5n){
margin-right:0px;

}
.clearfo{
clear:both;
}
.downc{
padding:20px;
font-family:黑体;
}
.mt{
margin-top:2px;
}
.newsel{
background:#f0eff4;
width:120px;
height:30px;
font-family:"黑体";
font-size:14px;
font-weight:bold;
border-color:#ccc;
margin-left:100px;
}
.norww{
font-weight:normal;

}
.hade{
  
padding:5px;
color:green;
}
.newsha{

width:140px;
height:30px;
background:none;
border:solid 1px #ccc;
margin-left:100px;
}