.newtitle{

width:100%;
text-align:center;
margin-top:20px;
font-weight:bold;
font-family:黑体;

}
.handes{
font-size:14px;

}
.hase{
color:#ccc;
border-bottom:0px;
}
.nanhdsu ul li{
background:#fff;
margin-right:10px;
border-top-left-radius:10px;
border-top-right-radius:10px;

}
.navdos{
padding:10px;
height:30px;
background:#fff;
font-family:黑体;
color:#ccc;
border-bottom:solid 1px #ccc;
font-size:14px;
}
.flsowe{
width:33%;
float:left;
text-align:center;
line-height:30px;
}
.jsawhs{
margin-right:0px;
}
.nanhdsu{

margin-left:25px;
}
.mabontls{
margin:0px;
border-bottom:solid 1px #eee;

}

