@charset "utf-8";
/* CSS Document */

/* 全局样式 */
body{ padding:0; margin:0; font-size:12px; height:100%; word-break: break-all;}
ul,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,form,p { padding:0; margin:0;}
ul{list-style:none;}
img{border:0px;}
.clearfloat{clear:both; height:0px; font-size:1px; line-height:0px;}
a{ text-decoration:none;}



.contexts{ position:relative;}

#content{ width:90%; height:auto; margin:0 auto; top:30%; float:left; position:absolute;}
.logo{ width:70px; height:30px; line-height:30px; text-align:center; float:right; margin-right:5%; margin-top:-13%;}

.company{ width:45%; float:left; margin-right:5%;}
.company ul{ width:100%; float:left; font-weight:bold; margin-left:13%; border-right:1px solid #000;}
.company ul li{ font-family:"微软雅黑"; width:100%;}
.company .margin{ margin-top:5%; font-size:12px;}
.company ul li b{ font-size:24px;}
.company ul li span{ margin-left:10%; font-size:14px;}

.contact{ width:40%; float:left;}
.contact ul{ width:100%; margin:0 auto; margin-left:15%; float:left;}
.contact ul li{ width:100%; float:left; margin-left:3%; margin-top:3%; font-family:"微软雅黑"; line-height:150%; margin-left:10%; font-size:10px;}

.address{ width:100%; margin:0 auto; text-align:center; float:left; font-family:"微软雅黑"; font-size:12px; margin-top:3%;}





