<include file="Common:header" />
	<link href="./Tpl/Qyapp/Static/Js/jstree/3.0.2/themes/default/style.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./Tpl/Qyapp/Static/Js/autocomplete/src/jquery.autocomplete.css">	
	<script src="./Tpl/Qyapp/Static/Js/jquery-migrate.min.js" type="text/javascript"></script>
	<script src="./Tpl/Qyapp/Static/Js/artTemplate/dist/template.js" type="text/javascript"></script>
	<script src="./Tpl/Qyapp/Static/Js/jstree/3.0.2/jstree.min.js"></script>
	<script type="text/javascript" src="./Tpl/Qyapp/Static/Js/autocomplete/src/jquery.autocomplete.js"></script>	
    <script src="./Tpl/Qyapp/Static/Js/autocomplete/test/test.js"></script>
    <link href="./Tpl/Qyapp/Static/Js/autocomplete/lib/google-code-prettify/prettify.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="./Tpl/Qyapp/Static/Js/autocomplete/lib/google-code-prettify/prettify.js"></script>
    <script type="text/javascript" src="./Tpl/Qyapp/Static/Js/autocomplete/lib/google-code-prettify/beautify.min.js"></script>	
	
	<script type="text/javascript">
	$(document).ready(function(){
		selectAuto();	
	});
    </script>
   <div id="myModal" class="modal fade" tabindex="-2" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

  </div>
  <div class="modal fade" id="preModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	   <div class="modal-dialog">
		  <div class="modal-content">
			 <div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">图标预览</h4>
			 </div>
			 <div class="modal-body">
				<div class="row" style="padding-bottom:15px;">
				    <div class="col-md-12" style="margin:0 auto;" align="center">
					        <img src="" width="128px" height="128px" id="preicon">
					</div>							
				</div>				
			 </div>
		  </div>
		</div>	
	</div>		
	<div class="modal fade" id="iconModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	   <div class="modal-dialog">
		  <div class="modal-content">
			 <div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">请选择图标</h4>
			 </div>
			 <div class="modal-body">
				<div class="row" style="padding-bottom:15px;">
				    <div class="col-md-2 icon">
					    <a href="javascript:;" target="_self">
					        <img src="./Tpl/Qyapp/Workflow/images/icon/01.png" width="64px" height="64px">
						</a>
					</div>
				    <div class="col-md-2 icon">
					    <a href="javascript:;" target="_self">
					        <img src="./Tpl/Qyapp/Workflow/images/icon/02.png" width="64px" height="64px">
						</a>
					</div>
				    <div class="col-md-2 icon">
					    <a href="javascript:;" target="_self">
					        <img src="./Tpl/Qyapp/Workflow/images/icon/03.png" width="64px" height="64px">
						</a>
					</div>
				    <div class="col-md-2 icon">
					    <a href="javascript:;" target="_self">
					        <img src="./Tpl/Qyapp/Workflow/images/icon/04.png" width="64px" height="64px">
						</a>
					</div>
				    <div class="col-md-2 icon">
					    <a href="javascript:;" target="_self">
					        <img src="./Tpl/Qyapp/Workflow/images/icon/05.png" width="64px" height="64px">
						</a>
					</div>
				    <div class="col-md-2 icon">
					    <a href="javascript:;" target="_self">
					        <img src="./Tpl/Qyapp/Workflow/images/icon/06.png" width="64px" height="64px">
						</a>
					</div>					
				    <div class="col-md-2 icon">
					    <a href="javascript:;" target="_self">
					        <img src="./Tpl/Qyapp/Workflow/images/icon/07.png" width="64px" height="64px">
						</a>
					</div>							
				</div>				
			 </div>
			 <!-- <div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				<button type="button" class="btn btn-primary"> 确定</button>
			 </div> -->
		  </div>
		</div>	
	</div>
<div class="modal fade bs-modal-lg" id="range" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog" style="width:760px;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
				<h4 class="modal-title">选择范围</h4>
			</div>
			<div class="modal-body" style="padding-bottom:0px;">	
				<div class="row">
					<div class="col-md-12" id="selectObj" style="margin-top:-20px;">													
					
					
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" id="queding" onclick="queding()" data-id="" data-num="">确定</button>									
				<button type="button" data-dismiss="modal" class="btn btn-default">取消</button>
			</div>
		</div>
	</div>
</div>	  
<section class="hbox stretch">
	<aside class="aside-md bg-white b-r" id="subNav">
	<include file="Workflow:navmenu" />		
	</aside>
	  
    <aside>
    <section class="vbox">
        <header class="header bg-white b-b b-light">
            <p>新增自定义流程</p>
            <a class="text-muted pull-right m-t pointer" data-toggle="back" title="返回"><i class="fa fa-reply"></i></a>
        </header>
        <section class="scrollable  wrapper">
            <section class="panel panel-default">
                <div class="panel-body">
                    <form class="form-horizontal form-validate" method="post" target="_self" action="{lanrain::U('Workflow/edit',array('mid'=>$_GET['mid']))}">
					    <input type="hidden" value="{lanrain:$data.id}" name="id"/>
                        <div class="form-group">
                            <label class="col-sm-2 control-label must">流程名称</label>
                            <div class="col-sm-3 ">
                                <input class="form-control" data-rule-required="true" type="text" value="{lanrain:$data.name}" name="flow_name" id="flow_name" />                            </div>
                        </div>
<!--                         <div class="form-group">
                            <label class="col-sm-2 control-label must">流程人员范围</label>
                            <div class="col-sm-8 ">
                                <input class="form-control" data-rule-required="true" data-toggle="tokeninputtree" name="flow_area" onclick="openModel()" placeholder="+请选择部门" type="text" value="{lanrain:$data.range}" id="range" />                            
                                <input  id="follow" type="hidden"  name="follow"  value="{lanrain:$data.follow}"/>
                            </div>
                        </div> -->
						<div class="form-group">
							<label class="col-sm-2 control-label must">自定义图标</label>
							<div class="col-sm-3 ">
								<input class="form-control" data-rule-required="true" type="text" value="{lanrain:$data.icon}" name="icon" id="icon"/>                            
							</div>
							<div class="col-sm-1">
								<button type="button" class="btn btn-default js_delfield btn-sm" data-toggle="modal" data-target="#preModal">图标预览</button>
							</div>									
							<div class="col-sm-1">
								<button type="button" class="btn btn-default js_delfield btn-sm" data-toggle="modal" data-target="#iconModal">选择图标</button>
							</div>
							<div class="col-sm-1">
								<button type="button" class="btn btn-default js_delfield btn-sm" id="upload">上传图标</button>
							</div>
							
						</div>	
						<div class="form-group">
									<label class="col-sm-2 control-label must">流程人员范围</label>

									<div class="col-sm-3">
										<input type="text" class="form-control" data-rule-required="true" data-toggle="tokeninputtree" name="flow_area" id="depart" onclick="openModel()" data-selected-contact=""  value="{lanrain:$data.departname}"/>
										 <input  id="departId" type="hidden"  name="departid"  value="{lanrain:$data.departid}"/>	
									</div>
								</div>					
                        
                        <div id="js_custom_fields">
                            <script type="text/html" id="js_custom_fields_tem">
                            <div class="form-group" data-num="{{m}}">
                                <label class="col-sm-2 control-label">自定义字段{{m}}</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" name="field[{{m}}][name]" data-rule-required="true" placeholder="名称"/>
                                </div>
                                <label class="col-sm-1 control-label">类型</label>
                                <div class="col-sm-2 ">
                                    <select class="form-control" name="field[{{m}}][type]" id="{{m}}" onchange="selectType($(this))" >
                                        <option value="1">单行文本</option>
                                        <option value="2">数字</option>
                                        <option value="3">日期</option>
                                        <option value="4">时间</option>
                                        <option value="6">多行文本</option>
										<option value="5" data-type="select">下拉框</option>
										<option value="7" data-type="select">图片上传</option>
										<option value="8" data-type="select">语音</option>	
										<option value="9">单选按钮</option>
										<option value="10">复选框</option>												
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <label class="checkbox-inline"><input type="checkbox" name="field[{{m}}][status]">是否必填</label>
                                </div>
                                <div class="col-sm-2">
                                    <button type="button" class="btn btn-default js_delfield btn-sm" onclick="delField($(this))">删除</button>
                                </div>
                            </div>
                            </script>
                            <script type="text/html" id="js_field_select_tem">
                                <div class="col-sm-7 col-sm-offset-2 m-t" >
                                    <textarea rows="4" class="form-control" name="field[{{index}}][info]" placeholder='请输入下拉框选项（每个选项以半角逗号"，"隔开，100字以内）' data-rule-maxlength="100"></textarea>
                                </div> 
                            </script>
							
                            <script type="text/html" id="js_custom_fields_edit">
							{{each fields as value i}}						
                            <div class="form-group" data-num="{{i}}">
                                <label class="col-sm-2 control-label">自定义字段{{i+1}}</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" name="field[{{i}}][name]" value="{{value.name}}" data-rule-required="true" placeholder="名称"/>
                                </div>
                                <label class="col-sm-1 control-label">类型</label>
                                <div class="col-sm-2 ">
                                    <select class="form-control" name="field[{{i}}][type]" onchange="selectType($(this))" >
                                        <option value="1" {{if value.type == 1}}selected{{/if}}>单行文本</option>
                                        <option value="2" {{if value.type == 2}}selected{{/if}}>数字</option>
                                        <option value="3" {{if value.type == 3}}selected{{/if}}>日期</option>
                                        <option value="4" {{if value.type == 4}}selected{{/if}}>时间</option>
                                        <option value="6" {{if value.type == 6}}selected{{/if}}>多行文本</option>
										<option value="5" {{if value.type == 5}}selected{{/if}} data-type="select">下拉框</option>
										<option value="7" {{if value.type == 7}}selected{{/if}} data-type="select">图片上传</option>
										<option value="8" {{if value.type == 8}}selected{{/if}} data-type="select">语音</option>
										<option value="8" {{if value.type == 9}}selected{{/if}}>单选按钮</option>
										<option value="8" {{if value.type == 10}}selected{{/if}}>复选框</option>											
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <label class="checkbox-inline"><input type="checkbox" {{if value.status}}checked{{/if}} name="field[{{i}}][status]">是否必填</label>
                                </div>
                                <div class="col-sm-2">
                                    <button type="button" class="btn btn-default js_delfield btn-sm" onclick="delField($(this))">删除</button>
                                </div>
								{{if value.info}}	 						
								<div class="col-sm-7 col-sm-offset-2 m-t" >
									<textarea rows="4" class="form-control" name="field[{{i}}][info]" placeholder='请输入下拉框选项（每个选项以半角逗号"，"隔开，100字以内）' data-rule-maxlength="100">{{value.info}}</textarea>
								</div> 	
							    {{/if}}
								
								{{if value.radio}}	 						
								<div class="col-sm-7 col-sm-offset-2 m-t" >
									<textarea rows="4" class="form-control" name="field[{{i}}][radio]" placeholder='请输入单选按钮选项（每个选项以半角逗号"，"隔开，100字以内）' data-rule-maxlength="100">{{value.radio}}</textarea>
								</div> 	
							    {{/if}}	
								
								{{if value.checkbox}}	 						
								<div class="col-sm-7 col-sm-offset-2 m-t" >
									<textarea rows="4" class="form-control" name="field[{{i}}][checkbox]" placeholder='请输入复选框选项（每个选项以半角逗号"，"隔开，100字以内）' data-rule-maxlength="100">{{value.checkbox}}</textarea>
								</div> 	
							    {{/if}}									
                            </div>
 
							{{/each}}							
                            </script>							
							
							
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2 col-sm-offset-2">
                                <button type="button" class="btn btn-default js_addfield btn-sm" onclick="addField()">添加自定义字段</button>
                            </div>
                        </div>
						<div class="line line-dashed line-lg pull-in"></div>
						<div class="form-group">
							<label class="col-sm-2 control-label must">审核人类型</label>

							<div class="col-sm-9">
								<label class="radio-inline"><input type="radio" checked value="1" name="audittype" onclick="auditType(1)">固定审核人</label>
								<label class="radio-inline"><input type="radio" value="2" name="audittype" onclick="auditType(2)">临时审核人</label>
							</div>
						</div>	                       
                        <div  id="autoComplete" class="js_audit_div">
                            <div class="form-group" data-num="1">
                                <label class="col-sm-2 control-label">第1级审核人</label>
                                <div class="col-sm-2">
                                     <select class="form-control js_audit_select" data-rule-required="true"  name="level[1][auditname]" onchange="selectAudit($(this))">
                                        <option value="">请选择</option>
                                        <option value="1">直接上级</option>
                                        <option value="3" data-type="assign">指定人员</option>
                                    </select>
                                </div>
                                
                                
                            </div>
						
							
                        </div>
 
                            <script type="text/html" id="js_audit_tem">
                                <div class="form-group" data-num="{{index}}">
                                    <label class="col-sm-2 control-label">第{{index}}级审核人</label>
                                    <div class="col-sm-2">
                                        <select class="form-control js_audit_select" name="level[{{index}}][auditname]" onchange="selectAudit($(this))">
                                            <option value="">请选择</option>
                                            <option value="1">直接上级</option>
                                            <!-- <option value="2">间接上级</option> -->
                                            <option value="3" data-type="assign">指定人员</option>
                                        </select>
                                    </div>
                                    
                                    <div class="col-sm-1">
                                        <button type="button" class="btn btn-default js_delaudit btn-sm" onclick="delLevel($(this))">删除</button>
                                    </div>
                                </div>
                            </script>
                            <script type="text/html" id="js_add_select">
                                <div class="col-sm-3">
                                 <input type="text" class="form-control js_select_people autoComplete"  data-toggle="tokeninputtree" name="level[{{index}}][auditselect]" data-rule-required="true"  placeholder="+请选择相关人"/>
                                    
                                </div>
                            </script>
							
                            <script type="text/html" id="js_audit_edit">
							{{each audit as value i}}								
                                <div class="form-group" data-num="{{i}}">
                                    <label class="col-sm-2 control-label">第{{i+1}}级审核人</label>
                                    <div class="col-sm-2">
                                        <select class="form-control js_audit_select" name="level[{{i}}][auditname]" onchange="selectAudit($(this))">
                                            <option value="">请选择</option>
                                            <option value="1" {{if !value.auditselect}}selected{{/if}} >直接上级</option>
                                            <option value="3" {{if value.auditselect}}selected{{/if}} data-type="assign">指定人员</option>
                                        </select>
                                    </div>
                                    
                                    <div class="col-sm-1">
                                        <button type="button" class="btn btn-default js_delaudit btn-sm" onclick="delLevel($(this))">删除</button>
                                    </div>
							        {{if value.auditselect}}									
									<div class="col-sm-3">
									     <input type="text" class="form-control js_select_people autoComplete" value="{{value.auditselect}}" data-toggle="tokeninputtree" name="level[{{i}}][auditselect]" data-rule-required="true"  placeholder="+请选择相关人"/>
									</div>	
							        {{/if}}										
                                </div>
 
							{{/each}}								
                            </script>	
 
                        <div class="form-group" id="add-btm">
                            <div class="col-sm-2 col-sm-offset-2">
                                <button type="button" class="btn btn-default js_addaudit btn-sm" onclick="addLevel()">增加一级</button>
                            </div>
                        </div>
                        <div class="line line-dashed line-lg pull-in"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">

                                <input type="submit" class="btn btn-primary" value="保存"/>
                                <button type="button" class="btn btn-default"  data-toggle="back" onclick="javascript:history.go(-1)">取消</button>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </section>
    </section>
	</aside>
    </section>	
	<script>
	 $('.icon').click(function(){
	    var pic = $(this).find('img').attr('src');
		$('#icon').attr('value',pic);
		$('#preicon').attr('src',pic);	
		$('#iconModal').modal('hide');
		
	});
	var fields ={lanrain::$fields};	
	var audit ={lanrain::$audit};
	var data = {
		fields:fields,
		audit:audit,		
	};	    	 
	var fieldsHtml = template('js_custom_fields_edit', data);
	$('#js_custom_fields').append(fieldsHtml);		
	var auditHtml = template('js_audit_edit', data);
	$('.js_audit_div').html(auditHtml);	
	
	var val1 = $('#js_custom_fields').children(':last').attr('data-num');
	var i = parseInt(val1)+1;
	var val2 = $('.js_audit_div').children(':last').attr('data-num');	
	var j = parseInt(val2)+1;
	function addField(){
		var m = ++i;
		var data = {
		m: m,
		};	
		var html = template('js_custom_fields_tem', data);
		$('#js_custom_fields').append(html);
	}						 
	function selectType(obj){
		
		if(obj.parent().parent().find(':last-child').hasClass('col-sm-7')){
			obj.parent().siblings(':last').remove();
		}						
		index = obj.attr('id');
		var data4 = {	
		index: index,
		};	
		var val = obj.find('option:selected').val();							
		if(val == 5){
			if(!obj.parent().parent().find(':last-child').hasClass('col-sm-offset-2')){
				var html = template('js_field_select_tem',data4);
				obj.parent().parent().append(html);								
			}
			
		}
	}
	function delField(obj){
		obj.parent().parent().remove();
	}
	function addLevel(){
		var id = ++j;
		var data2 = {
		index: id,
		};	
		var html = template('js_audit_tem', data2);
		$('.js_audit_div').append(html);
	}
	function delLevel(obj){
		obj.parent().parent().remove();
	}	
	function selectAudit(obj){
		if(obj.parent().parent().find(':last-child').hasClass('col-sm-3')){
			obj.parent().siblings(':last').remove();
		}						
		var id = obj.parent().parent().attr('data-num');
		var data3 = {	
		index: id,
		};	
		var val = obj.find('option:selected').val();							
		if(val == 3){
			if(!obj.parent().parent().find(':last-child').hasClass('col-sm-3')){
				var html = template('js_add_select',data3);
				obj.parent().parent().append(html);								
			}
			
		}
		selectAuto();		
	}

	function selectAuto(){
		 $.ajax({
			type:"POST",
			url:"index.php?g=Qyapp&m=Common&a=searchUsers",
			dataType:'json',
			success:function(json){
			var status = json.status;
			  if(status==1){
			    var data = json.data;			
				$('#autoComplete div.form-group').each(function(){
					var Obj = $('#autoComplete div.form-group').find('div.col-sm-3 input');
					Obj.AutoComplete({
						'data': data,
						'width':225,
						'listStyle': 'custom',
						'maxHeight': 240,
						'createItemHandler': function(index, data){
							var div = $("<div style='height:36px;padding-top:2px'></div>")
							var cell1 = $("<div style='display:table-cell;vertical-align:top;'></div>").appendTo(div);
							var cell1_1 = $("<img style='width:32px;height:32px;'></img>").attr('src', data.image).appendTo(cell1);
							var cell2 = $("<div style='display:table-cell;vertical-align:middle;padding-right:10px'></div>").appendTo(div);
							var cell2_1 = $("<div></div>").append(data.label).appendTo(cell2);
							var cell2_2 = $("<div style='vertical-align:top;'></div>").appendTo(cell2);
							return div;
						}
					});
				});				
			  }else{
				  alert('删除失败');
			  }
			}
		}); 	
	}	
	function openModel(){
		$('#depart').attr("value",'');
		$('#departId').attr("value",'');
		$('#myModal').load("{lanrain::U('Tree/myTree')}", function(){
			 $('#myModal').modal();
		});	
	}

	function cancel(){
		$('#depart').attr("value",'');
		$('#departId').attr("value",'');
		$('#myModal').modal('hide');
		$('#myModal').empty();
	}

	function guanbi(){
		$('#myModal').modal('hide');
		$('#myModal').empty();
	}
	</script>
	<script>
	function address(type,id,num){
		$("#range").modal('show');
		$('#queding').attr('data-id',id);
		$('#queding').attr('data-num',num);
		var selected = $('#'+id).attr('value');
		$('#selectObj').load("{lanrain::U('Common/address',array('type'=>'"+type+"','sign'=>'"+id+"','selected'=>'"+selected+"'))}");
	}	
	function queding(){
		$("#range").modal('hide');
		var id = $('#queding').attr('data-id');
		var num = $('#queding').attr('data-num');	
		//$('#list-'+id+' div.bg-circle').remove();
		var dept_id = '';
		var dept_name = '';
		var follow = '';
		var users_id = '';
		var users_name = '';
		$('#selected-dept li').each(function(){
			var id_1 = $(this).attr('id');
			var str_1 = id_1.replace('selected-dept-','');		
			var dept_name = $('#selected-dept-name-'+str_1).text().replace(/[\r\n]/g,"").trim();
            follow += dept_name+',';			
			users_id += id_1+',';
		});		
		$('#selected-users li').each(function(){
			var id_2 = $(this).attr('id');
			var str_2 = id_2.replace('selected-users-','');		
			var users_name = $('#selected-users-name-'+str_2).text().replace(/[\r\n]/g,"").trim();
            follow += users_name+',';			
			users_id += id_2+',';
		});	 		
		$('#'+id).attr('value',follow);
		$('#follow').attr('value',users_id);
	}
	String.prototype.trim=function() {
		return this.replace(/(^\s*)|(\s*$)/g,'');
	}	
	function auditType(type){
	    if(type == 1){
		    $('#autoComplete').show();
			$('#add-btm').show();
		}else if(type == 2){
		    $('#autoComplete').hide();
			$('#add-btm').hide();		    
		}
	}
	</script>	
<include file="Common:footer" />