#info{
border:1px solid #ccc;
font-size:12px;
}
ul.round{

background:none;
border:none;
}
*{


margin:0px;
padding:0px;

}
body{
background:#f7f7f7;
}
.dns{

background:#fff;
}
.px{

font-size:12px;

}
.cardexplain{

margin:0px;

}
.round li{
line-height:40px;
}
.fonsz{
font-family:黑体;

}
.hedds{

height:50px;

}