			img{width:100%!important;}
					a{
			text-decoration:none;
			
			}
			a:hover{
			text-decoration:none;
			}
		  .yushd{
			width:46px;
			height:24px;
			float:left;
			border:solid 1px #ccc;
		   text-align:center;
		   border-radius:14px;
		   margin-right:20px;
		   line-height:24px;
		   color:#999;
		   z-index:50;
		   }
		   .geyushd{
		   
		
		   }
		  .hsyushd{
		  
	
		  } 