	.title{
	width:100%;
	height:60px;
	font-weight:bold;
	margin-top:20px;
	margin-left:10px;
	font-family:黑体;
	font-size:16px;
	border-bottom:solid 1px #eee;
	}
	.titp{
	margin-top:10px;
	color:#999;
	font-weight:normal;
	position:relative;
	}
	.canyu{
	margin-left:50px;
	color:#000;
	font-weight:bold;
	font-size:14px;
	}
	.jinxin{
	margin-left:60px;
	color:#5bbf21;
	position:absolute;
	right:20px;
	bottom:-2px;
	}
	.niming{
	border-radius:0px 0px 8px 8px;
	width:48px;
	height:40px;
	color:#fff;
	background:#999;
	font-weight:normal;
	position:fixed;
	top:0px;
	right:20px;
	line-height:40px;
	text-align:center;
	margin-bottom:10px;
	}
	.toupiao{
	text-align:center;
	line-height:50px;
	width:90%;
	margin:0 auto;
	height:50px;
	background:#03b902;
	border-radius:10px;
	color:#fff;
	font-weight:bold;
	margin-top:30px;
	}