@charset "utf-8";
/* CSS Document */

/* 全局样式 */
body{ padding:0; margin:0; font-size:12px; height:100%; word-break: break-all;}
ul,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,form,p { padding:0; margin:0;}
ul{list-style:none;}
img{border:0px;}
.clearfloat{clear:both; height:0px; font-size:1px; line-height:0px;}
a{ text-decoration:none;}




.contexts{ position:relative;}
#quanbu{ width:100%; height:auto; float:left; position:absolute; top:10%;}
#content{ width:67%; height:auto; margin:0 auto; float:left;}
#content .logo{ width:50px; height:50px; line-height:50px; text-align:center; border:1px solid #fff; border-radius:5px; float:left; position:absolute; left:3%; color:#fff;}
#content img{ float:left; margin-top:2%;} 
#content ul{ width:100%; float:left; color:#fff; margin-top:7%; margin-left:3%; font-family:"微软雅黑";}
#content ul li{ width:90%; text-align:center;}
#content .margin{ margin-top:1%;}
#content ul li b{ font-size:24px;}
#content ul li span{ font-size:14px;}

.contact{ width:33%; margin:0 auto; float:right; margin-top:25%;}
.contact ul{ width:100%; margin:0 auto; float:left; font-size:10px;}
.contact ul li{ width:100%; float:left; margin-top:3%; font-family:"微软雅黑"; color:#db0a84;}




